<div class="shop-interface">
  <search>
    <form action="/" class="item-search">
      <input type="search" name="q" id="item-search" />
      <button type="submit">Search</button>
    </form>
  </search>
  <div class="categories"><%- include("category-list", {categories}); %></div>
  <div class="items"><%- include("item-list", {items}); %></div>
</div>
