<div class="shop-interface">
  <search><form action="/" class="item-search"></form></search>
  <form action="/" class="categories"></form>
  <div class="items">
    <!-- generated list of items that fit search query-->
  </div>
</div>
